.card-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
}

.card-img {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.card-container {
box-shadow: 5px 20px 15px 0px black, 5px 5px 15px 5px black;
border: none;
transition: transform 0.3s;


}

.card-container:hover {
    transform: scale(1.1);
}

/* button{
  box-shadow: 0px 4px 6px #002437;
  border: none !important;
  
} */
