.perfil-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 40px 10px;
    gap: 40px;
    
  }
  
  .perfil-container > h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    
  }
  
  .opciones-perfil {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 60px;
    
    
  }
 
  .opciones-perfil > div {
    border-radius: 5px;
    padding: 40px 60px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow:  10px 10px 20px 10px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #003049;
    transition: box-shadow 0.3s ease; 
    color: whitesmoke;
  }

  
  .opciones-perfil:hover > div {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
  } 
  
  
  .titulo-perfil {
    font-size: 30px;
  }
  
  .btn-perfil {
    text-decoration: none;
    color: black;
    border-radius: 4px;
    padding: 5px 40px;
    cursor: pointer;
    background-color: #fbf9f9;
    transition: transform 0.1s;
    
  }

    
  .btn-perfil:hover{
      background-color: #d62828;
      color: rgb(251, 252, 250);
      transform: scale(1.2);
      border-radius: 25px;
  }
  
  @media screen and (min-width: 992px) {
    .opciones-perfil {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 70px;
    }
  }
